
 h2 {
    padding-top: 15px;
    text-align: center;
    color: rgba(49, 47, 190, 0.836);
    font-family: Futura, "Trebuchet MS", Arial, sans-serif; font-size: 40px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 44px;
  }

video{
    text-align: center;

}